[Unit]
Description=Creates a virtual device with two analog buttons and binds them to the side buttons of your mouse

[Service]
ExecStart=/opt/fake-analog-key
Restart=always

[Install]
WantedBy=default.target
